* {
  box-sizing: border-box;
}
*::selection {
  color: #f5f2ed;
  background-color: #444647;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  margin: 0;
  padding: 0;
  height: 100px;
}
.logo {
  display: flex;
  color: #fea611;
  width: 25%;
  justify-content: center;
  margin-right: 100px;
}
.logo img {
  height: 80px;
  width: fit-content;
  margin-top: 6px;
}
.navbar {
  display: flex;
  position: fixed;
  margin-left: 100px;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.navbar-ul {
  display: flex;
}
.navbar-li {
  list-style: none;
}
.navbar-li > a {
  display: flex;
  font-size: 20px;
  list-style: none;
  margin: 0 20px;
  font-family: "Poppins";
  color: #f5f2ed;
  border: 1px solid #f5f2ed;
  text-decoration: none;
  background-color: #000;
  padding: 5px;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1.5s ease;
}
.navbar-li > a:hover {
  background-color: #fea611;
  color: #000;
  border: #000;
  transition: all 1ms ease-in-out;
}
.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.8em;
  color: #fea611;
  margin-top: 150px;
}
.titulo p {
  color: #000;
  font-style: italic;
}

.fa-arrow-down {
  color: #000;
  font-size: 30px;
  margin-top: 100px;
  animation: bounceFade 2s infinite;
}

@keyframes bounceFade {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.info p {
  width: 70%;
  font-family: "Poppins";
  font-style: italic;
}
.detalles {
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  margin-top: 50px;
}
.detalle h2 {
  color: #fea611;
  font-family: "Poppins";
  font-style: italic;
}
.webs {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.webs h2 {
  font-size: 30px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bolder;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #494646;
  padding: 1.5rem;
  margin-top: 50px;
}

.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: #fea611;
  font-family: "Poppins";
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
  font-family: "Poppins";
}

.lists .list {
  margin-bottom: 0.5rem;
  font-family: "Poppins";
  display: flex;
  margin-left: 0.5rem;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: #fea611;
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: #fea611;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
}

.btn {
  font-size: 12px;
  list-style: none;
  font-family: "Poppins";
  color: #f5f2ed;
  border: 1px solid #f5f2ed;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1.5s ease;
}
.btn:hover {
  background-color: #fea611;
  color: #000;
  border: #000;
  transition: all 1ms ease-in-out;
}
.perso {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perso h2 {
  font-family: "Poppins";
  font-style: italic;
}
.perso h3 {
  font-family: "Poppins";
  font-style: italic;
  font-size: 26px;
}
.perso p {
  font-family: "Poppins";
  font-style: italic;
  width: 55%;
}
.metodos-de-pago {
  margin-top: 100px;
}
.metodos-de-pago h2 {
  margin-bottom: 50px;
}
.metodos-de-pago li {
  list-style: none;
}
.metodos-de-pago ul {
  display: flex;
  justify-content: space-evenly;
}
.metodos-de-pago img {
  height: 60px;
  width: auto;
}
.preguntas-frecuentes {
  margin-top: 100px;
}
.preguntas-frecuentes h2 {
  font-family: "Poppins";
  font-size: 32px;
  font-style: italic;
  font-weight: bolder;
}
.preguntas-frecuentes ul {
  list-style: none;
  font-family: "Poppins";
  font-style: italic;
  font-weight: lighter;
  margin-left: 80px;
}
.preguntas-frecuentes li {
  width: 90%;
  border: 1.5px solid #000;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}
.answer {
  max-height: 0; /* Inicialmente, las respuestas están ocultas */
  overflow: hidden; /* Oculta cualquier contenido que exceda la altura máxima */
  transition: max-height 0.3s ease; /* Transición suave de la altura durante 0.3 segundos */
}

.show-answer {
  max-height: 100px; /* Altura máxima suficientemente grande para mostrar la respuesta */
}
.redes .logos a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 27px;
  margin-left: 65px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #000;
  z-index: 1;
}

.redes .logos a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
  top: -13px;
}

.redes .logos a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.redes .logos a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.redes .logos a:hover:before {
  top: 0;
}

.redes .logos:nth-child(1) a:before {
  background: linear-gradient(90deg, #ffdc80, #e1306c);
}

.redes .logos:nth-child(2) a:before {
  background: #0077b5;
}

.redes .logos:nth-child(3) a:before {
  background: #dd4b39;
}
.redes .logos:nth-child(4) a:before {
  background: #25d366;
}

.redes {
  padding-top: 70px;
  padding-bottom: 15px;
  justify-content: space-evenly;
  display: flex;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
}
footer {
  margin-top: 100px;
}
.caja-redes {
  border-top: 2px solid #000;
}
.caja-redes h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-style: italic;
}
.title-card {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
}
