* {
  box-sizing: border-box;
}
*::selection {
  color: #f5f2ed;
  background-color: #444647;
}
html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  margin: 0;
  padding: 0;
  height: 100px;
}
.logo {
  display: flex;
  color: #fea611;
  width: 25%;
  justify-content: center;
  margin-right: 100px;
}
.logo img {
  height: 80px;
  width: fit-content;
  margin-top: 6px;
}
.navbar {
  display: flex;
  position: fixed;
  margin-left: 100px;
  background-color: #fff;
  width: 100%;
  z-index: 1;
}
.navbar-ul {
  display: flex;
}
.navbar-li {
  list-style: none;
}
.navbar-li > a {
  display: flex;
  font-size: 20px;
  list-style: none;
  margin: 0 20px;
  font-family: "Poppins";
  color: #f5f2ed;
  border: 1px solid #f5f2ed;
  text-decoration: none;
  background-color: #000;
  padding: 5px;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1.5s ease;
}
.navbar-li > a:hover {
  background-color: #fea611;
  color: #000;
  border: #000;
  transition: all 1ms ease-in-out;
}
.titulo {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1.8em;
  color: #fea611;
  margin-top: 150px;
}
.titulo p {
  color: #000;
  font-style: italic;
}

.fa-arrow-down {
  color: #000;
  font-size: 30px;
  margin-top: 100px;
  animation: bounceFade 2s infinite;
}

@keyframes bounceFade {
  0%,
  100% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(20px);
    opacity: 1;
  }
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
.info p {
  width: 70%;
  font-family: "Poppins";
  font-style: italic;
  text-align: center;
}
.detalles {
  display: grid;
  grid-template-columns: 33% 33%;
  grid-template-rows: 1fr 1fr;
  justify-content: space-evenly;
  margin-top: 50px;
}
.detalle p {
  font-family: "Poppins";
}
.detalle h2 {
  color: #fea611;
  font-family: "Poppins";
  font-style: italic;
}
.webs {
  margin-top: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.webs h2 {
  font-size: 30px;
  font-family: "Poppins";
  font-style: italic;
  font-weight: bolder;
}
.cards {
  display: flex;
  justify-content: space-evenly;
}
.card {
  margin-left: -1rem;
  margin-right: -1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin-bottom: 2rem;
  width: 320px;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background-color: #494646;
  padding: 1.5rem;
  margin-top: 50px;
}
.card button a {
  text-decoration: none;
  color: #000;
}
.price {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 700;
  color: #fff;
}

.desc {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  line-height: 1.625;
  color: #fea611;
  font-family: "Poppins";
}

.lists {
  margin-bottom: 1.5rem;
  flex: 1 1 0%;
  color: rgba(156, 163, 175, 1);
  font-family: "Poppins";
}

.lists .list {
  margin-bottom: 0.5rem;
  font-family: "Poppins";
  display: flex;
  margin-left: 0.5rem;
}

.lists .list svg {
  height: 1.5rem;
  width: 1.5rem;
  flex-shrink: 0;
  margin-right: 0.5rem;
  color: #fea611;
}

.action {
  border: none;
  outline: none;
  display: inline-block;
  border-radius: 0.25rem;
  background-color: #fea611;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  text-align: center;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: rgba(17, 24, 39, 1);
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins";
}

.btn {
  font-size: 12px;
  list-style: none;
  font-family: "Poppins";
  color: #f5f2ed;
  border: 1px solid #f5f2ed;
  text-decoration: none;
  background-color: #000;
  padding: 10px;
  border-radius: 20px;
  width: 120px;
  justify-content: center;
  cursor: pointer;
  transition: background-color 1.5s ease;
}
.btn:hover {
  background-color: #fea611;
  color: #000;
  border: #000;
  transition: all 1ms ease-in-out;
}
.perso {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.perso h2 {
  font-family: "Poppins";
  font-style: italic;
}
.perso h3 {
  font-family: "Poppins";
  font-style: italic;
  font-size: 26px;
}
.perso p {
  font-family: "Poppins";
  font-style: italic;
  width: 55%;
}
.metodos-de-pago {
  margin-top: 100px;
}
.metodos-de-pago h2 {
  margin-bottom: 50px;
}
.metodos-de-pago li {
  list-style: none;
}
.metodos-de-pago ul {
  display: flex;
  justify-content: space-evenly;
}
.metodos-de-pago img {
  height: 60px;
  width: auto;
}
.preguntas-frecuentes {
  margin-top: 100px;
  align-items: center;
}
.preguntas-frecuentes h2 {
  font-family: "Poppins";
  font-size: 32px;
  font-style: italic;
  font-weight: bolder;
}
.preguntas-frecuentes ul {
  list-style: none;
  font-family: "Poppins";
  font-style: italic;
  font-weight: lighter;
}
.preguntas-frecuentes li {
  width: 90%;
  border: 1.5px solid #000;
  padding: 10px 0;
  margin: 20px 0;
  border-radius: 10px;
  font-size: 24px;
  cursor: pointer;
}

.answer {
  max-height: 0; /* Inicialmente, las respuestas están ocultas */
  overflow: hidden; /* Oculta cualquier contenido que exceda la altura máxima */
  transition: max-height 0.3s ease; /* Transición suave de la altura durante 0.3 segundos */
  color: #494646;
}

.show-answer {
  max-height: 100px; /* Altura máxima suficientemente grande para mostrar la respuesta */
}
.redes .logos a {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 27px;
  margin-left: 65px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #000;
  z-index: 1;
}

.redes .logos a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
  top: -13px;
}

.redes .logos a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.redes .logos a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}
.redes .logos a:hover:before {
  top: 0;
}

.redes .logos:nth-child(1) a:before {
  background: linear-gradient(90deg, #ffdc80, #e1306c);
}

.redes .logos:nth-child(2) a:before {
  background: #0077b5;
}

.redes .logos:nth-child(3) a:before {
  background: #dd4b39;
}
.redes .logos:nth-child(4) a:before {
  background: #25d366;
}

.redes {
  padding-top: 70px;
  padding-bottom: 15px;
  justify-content: space-evenly;
  display: flex;
  font-family: "Poppins", sans-serif;
  padding-left: 0;
  list-style: none;
}
footer {
  margin-top: 100px;
}
.caja-redes {
  border-top: 2px solid #000;
}
.caja-redes h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  font-style: italic;
}
.title-card {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
}
.hidden {
  display: none;
}
/* Estilos generales de la tarjeta de vista previa */
.preview-card {
  position: relative;
  width: 300px; /* Ancho de la tarjeta */
  height: 500px; /* Alto de la tarjeta */
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilos de la imagen */
.preview-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

/* Estilos del botón de vista previa */
.preview-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  display: inline-block;
  background-color: #fea611;
  color: rgba(17, 24, 39, 1);
}
.preview-button a {
  text-decoration: none;
  color: #000;
}
.preview-button a:hover {
  color: #f5f2ed;
}
/* Efecto hover del botón */
.preview-button:hover {
  background-color: #494646;
  color: #fff;
}

.sites {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 20px;
}

.preview {
  width: 100%; /* Ajusta el ancho según tu diseño */
  max-width: 800px; /* Ancho máximo para el iframe */
  margin: 0 auto; /* Centra el contenedor */
  overflow: hidden; /* Para recortar contenido si es necesario */
}

.preview iframe {
  width: 100%; /* Ocupa todo el ancho del contenedor */
  height: 400px; /* Altura deseada */
  display: block; /* Para asegurarse de que el iframe se comporte bien */
  margin: 0 auto; /* Centra el iframe dentro del contenedor */
}

.btn-info3 {
  margin-top: 20px;
  background-color: transparent;
  font-weight: semibold;
  background-color: rgba(100, 189, 46, 1);
  border: solid 1px rgba(100, 189, 46, 1);

  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 60px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: -9px -1px 46px -7px rgba(100, 189, 46, 1);
}

.btn-info3:hover {
  box-shadow: -9px -1px 46px -7px rgba(100, 189, 46, 1);
  transform: scale(1.15);
}
.btn-info3:active {
  box-shadow: inset 0.2rem 0.2rem 1rem rgba(100, 189, 46, 1),
    inset -0.2rem -0.2rem 1rem rgba(100, 189, 46, 1);
}

.boton {
  text-decoration: none;
  color: #fffdfd;
  padding: 20px;
  margin: -18px;
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column; /* Cambiar a una disposición vertical */
    align-items: center; /* Centrar horizontalmente */
  }
  .sites {
    flex-direction: column;
    align-items: center;
  }
  .detalle h2 {
    font-size: 16px;
  }
  .detalle p {
    font-size: 12px;
  }
  .info h2 {
    text-align: center;
  }
  .question,
  .answer {
    font-size: 14px;
  }
  .answer {
    overflow: scroll;
  }
  .navbar {
    flex-direction: column; /* Cambiar a una disposición vertical */
    align-items: center; /* Centrar horizontalmente */
    margin-left: 0; /* Eliminar el margen izquierdo para centrar */
  }

  .logo {
    width: 100%; /* Ocupar todo el ancho disponible */
    margin: 20px 0; /* Espaciado entre elementos */
  }

  .navbar-ul {
    flex-direction: column; /* Mostrar elementos uno debajo del otro */
    align-items: center; /* Centrar horizontalmente */
    display: none;
  }

  .navbar-li {
    margin: 10px 0; /* Espaciado entre elementos */
  }
  .redes {
    width: 300px;
  }
}
